[Unit]
Description=A diamond collector for docker containers 
Requires=docker.socket
After=docker.socket

[Service]
Environment="DOCKER_APP_VERSION=latest"
TimeoutStartSec=0
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=%p_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=%p_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/coco-diamond:$DOCKER_APP_VERSION > /dev/null 2>&1 || /usr/bin/docker pull coco/coco-diamond:$DOCKER_APP_VERSION'

ExecStart=/bin/bash -c '\
  ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  IFS=. read -r -a HOSTNAME_SLICED <<< "$HOSTNAME"; \
  /usr/bin/docker run --rm --name=%p_$(uuidgen) \
  -e GRAPHITE_HOST=graphite.ft.com \
  -e GRAPHITE_PORT=2003 \
  -e DOCKER_HOSTNAME=$ENV.$HOSTNAME_SLICED \
  -e INTERVAL=60 \
  -v /proc:/host_proc:ro \
  -v /var/run/docker.sock:/var/run/docker.sock:ro \
  coco/coco-diamond:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

