[Unit]
Description=Runs the Neo4j hot backup job

[Timer]
OnCalendar=02,14:00:00

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=neo4j-hot-backup@%i.service
