[Unit]
Description=Neo4j
After=docker.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=latest"

TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history neo4j:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull neo4j:$DOCKER_APP_VERSION'
ExecStartPre=/bin/bash -c 'wget -O /vol/neo4j/data/extra-conf.sh $(/usr/bin/etcdctl get /ft/config/neo4j/extra-conf-url) > /dev/null 2>&1'


# Also see http://neo4j.com/docs/operations-manual/3.1/installation/docker/ for configuration options.
ExecStart=/bin/sh -c '\
    export ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
    export NEO4J_causalClustering_initialDiscoveryMembers=$(fleetctl list-machines -fields ip -no-legend | tr '.' '-' | xargs -I{} echo ip-{}.eu-west-1.compute.internal:5000| tr \'\n\' \',\' | rev | cut -c 2- | rev); \
    export ADVERTISED_ADDRESS=$(hostname | tr -d '[:space:]'); \
    /usr/bin/docker run --rm --name %p-%i_$(uuidgen) \
    -v /vol/neo4j/data:/data \
    -v /vol/neo4j/logs:/logs \
    -p 7474:7474 \
    -p 7687:7687 \
    -p 7473:7473 \
    -p 5000:5000 \
    -p 6000:6000 \
    -p 7000:7000 \
    --env "NEO4J_AUTH=none" \
    --env "GRAPHITE_ENABLED=true" \
    --env "GRAPHITE_ADDRESS=graphite.ft.com:2003" \
    --env "GRAPHITE_PREFIX=coco.services.$ENV.neo4j.%i" \
    --env "NEO4J_dbms_memory_heap_maxSize=10G" \
    --env "NEO4J_dbms_memory_pagecache_size=18G" \
    --env "NEO4J_dbms_mode=CORE" \
    --env "NEO4J_causalClustering_expectedCoreClusterSize=3" \
    --env "NEO4J_causalClustering_initialDiscoveryMembers=$NEO4J_causalClustering_initialDiscoveryMembers" \
    --env "NEO4J_causalClustering_discoveryAdvertisedAddress=$ADVERTISED_ADDRESS:5000" \
    --env "NEO4J_causalClustering_transactionAdvertisedAddress=$ADVERTISED_ADDRESS:6000" \
    --env "NEO4J_causalClustering_raftAdvertisedAddress=$ADVERTISED_ADDRESS:7000" \
    --env "EXTENSION_SCRIPT=/data/extra-conf.sh" \
    --network="host" \
    neo4j:$DOCKER_APP_VERSION;'

ExecStop=-/bin/bash -c 'docker stop -t 60 "$(docker ps -q --filter=name=^/%p-%i_)"'
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=neo4j@*.service
