[Unit]
Description=Runs the Neo4j hot backup job

[Timer]
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=neo4j-hot-backup@%i.service
