[Unit]
Description=Registers a cluster tunnel in DYN through konstructor API

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="DOCKER_APP_VERSION=latest"
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStart=/bin/bash -c '\
  ENV=$(/usr/bin/etcdctl get /ft/config/environment_tag); \
  KONSTRUCTOR_API_KEY=$(/usr/bin/etcdctl get /ft/_credentials/konstructor/api-key); \
  PUBLIC_IP=$(curl -s 169.254.169.254/latest/meta-data/public-ipv4); \
  docker run --rm --name %p_$(uuidgen) \
  -e="DOMAINS=$ENV-tunnel-up" \
  -e="KONSTRUCTOR_API_KEY=$KONSTRUCTOR_API_KEY" \
  -e="IP=$PUBLIC_IP" \
  -v "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt" \
  coco/coco-tunnel-dns-registrator:$DOCKER_APP_VERSION'

[Install]
WantedBy=multi-user.target

